useDynLib("gam")
import(stats)
import(splines)
import(foreach)
importFrom("graphics", "axis", "lines", "mtext", "persp", "plot", "points", "rug", "segments")
importFrom(utils,head,tail,packageDescription,menu,assignInMyNamespace)
export(general.wam,anova.gamlist,as.anova,as.data.frame.lo.smooth,assign.list,gam,gam.control,gam.exact,gam.fit,gamlist,gam.lo,gam.match,gam.nlchisq,gam.random,gam.s,gam.scope,gam.smooth.list,gam.smoothers,gam.sp,gplot,gplot.default,gplot.factor,gplot.list,gplot.matrix,gplot.numeric,lo,lo.wam,na.gam.replace,newdata.predict.gam,plot.gam,polylo,predict.gam,random,s,s.wam,ylim.scale,step.gam,summary.gam)
S3method("[",smooth)
S3method(labels,gam)
S3method(plot,gam)
S3method(summary,gam)
S3method(print,summary.gam)
S3method(print,gamex)
S3method(print,gam)
S3method(print,stepanova)
S3method(predict,gam)
S3method(plot,preplot.gam)
S3method(plot,gam)
S3method(preplot,gam)
S3method(anova,gam)
S3method(anova,gamlist)
S3method(as.data.frame,lo.smooth)
S3method(gplot,default)
S3method(gplot,factor)
S3method(gplot,list)
S3method(gplot,matrix)
S3method(gplot,numeric)



